		<div id="sf2kmainheader">
			<div id="sf2klogo"><img src="/imgs/titlesm.gif" width="132" height="68" border="0"></div>

			<div id="sf2kmenu">
				<div class="sf2kmenuitem disablewhenplaying"><br>
				<a href="/main"><img src="/imgs/play-header.png" width="36" height="9" border="0"><br><img src="/imgs/icon_play.png" border="0" vspace="3"></div>

				<div class="sf2kmenuitem disablewhenplaying">
					<br>
					<a href="/pages/help.html"><img src="/imgs/help-header.png" width="34" height="9" border="0"><br>
					<img src="/imgs/icon_help.png" border="0" vspace="3"></a>
				</div>

				<div class="sf2kmenuitem disablewhenplaying"><br>
				<img alt="COMING SOON!" title="COMING SOON!" src="/imgs/rankings-header.png" width="70" height="9" border="0"><br>
				<img alt="COMING SOON!" title="COMING SOON!" src="/imgs/icon_rankings.png" border="0" vspace="3"></div>

				<div class="sf2kmenuitem disablewhenplaying">
					<a href="/pages/honorcode.html"><img src="/imgs/honorcode-header.png" width="46" height="18" border="0"><br>
					<img src="/imgs/icon_honor.png" border="0" vspace="3"></a>
				</div>

				<div class="sf2kmenuitem disablewhenplaying"><img alt="COMING SOON!" title="COMING SOON!" src="/imgs/sf2ksource-header.png" width="57" height="18" border="0"><br>
				<img alt="COMING SOON!" title="COMING SOON!" src="/imgs/icon_source.png" border="0" vspace="3"></div>

				<div class="sf2kmenuitem disablewhenplaying">
					<br>
					<a href="/pages/credits.html"><img src="/imgs/credits-header.png" width="57" height="9" border="0"><br>
					<img src="/imgs/icon_credits.png" border="0" vspace="3"></a>
				</div>
			</div>

			<div id="sf2kloginbox">
				<div id="sf2kloginboxnickname">{nickname}</div>
				<style>
				.hidelogout {
				{if loggedIn}
				{else}
					display: none;
				{/if}
				}	
				</style>
				<div id="sf2kloginboxlogout" class="hidelogout disablewhenplaying">
					<a href="/user/logout/">LOGOUT</a>
				</div>
			</div>
		</div>
		