		<div id="sf2kmainheader">
			<div id="sf2klogo"><img src="/imgs/titlesm.gif" width="132" height="68" border="0"></div>

			<div id="sf2kmenu">
				<div id="sf2kmenuitem"><br>
				<img src="/imgs/play-header.png" width="36" height="9" border="0"><br>
				<img src="/imgs/icon_play.png" border="0" vspace="3"></div>

				<div id="sf2kmenuitem">
					<br>
					<a href="help.html"><img src="/imgs/help-header.png" width="34" height="9" border="0"><br>
					<img src="/imgs/icon_help.png" border="0" vspace="3"></a>
				</div>

				<div id="sf2kmenuitem"><br>
				<img src="/imgs/rankings-header.png" width="70" height="9" border="0"><br>
				<img src="/imgs/icon_rankings.png" border="0" vspace="3"></div>

				<div id="sf2kmenuitem">
					<a href="honorcode.html"><img src="/imgs/honorcode-header.png" width="46" height="18" border="0"><br>
					<img src="/imgs/icon_honor.png" border="0" vspace="3"></a>
				</div>

				<div id="sf2kmenuitem"><img src="/imgs/sf2ksource-header.png" width="57" height="18" border="0"><br>
				<img src="/imgs/icon_source.png" border="0" vspace="3"></div>

				<div id="sf2kmenuitem">
					<br>
					<a href="credits.html"><img src="/imgs/credits-header.png" width="57" height="9" border="0"><br>
					<img src="/imgs/icon_credits.png" border="0" vspace="3"></a>
				</div>
			</div>

			<div id="sf2kloginbox">
				<div id="sf2kloginboxnickname">{nickname}</div>

				<div id="sf2kloginboxlogout">
					<a href="/user/logout/">LOGOUT</a>
				</div>
				<script language='javascript'>
					{if loggedIn}
					{else}
						$('#sf2loginboxlogout').hide();
					{/if}
				</script>
			</div>
		</div>