extends layout

block javascript
	script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
	script(src="javascripts/jquery.alphanum.js")

block content
	div#loginbox
		if (user)
			p= 'hello ' + user.nickname + '!'
			p: form(method='post',action='/user/logout')
				input(type='submit', value='log out')
				
			h2 
				a(href='/game/') go to the game (regular size)
			h2
				a(href='/game/?double=1') go to the game (double size)
				
		else
			h3 LOGIN
			if (flash && flash.login)
				div.errorFlash= flash.login
			form(method='post',action='/user/login' + double)
				label(for='nickname') nickname
				input(class='nickname', name='nickname', maxlength=13, value=(loginAttempt ? loginAttempt.nickname : ""))
				br
				label(for='password') password
				input(type='password', name='password')
				br
				input(type='submit', value='log in')
				
				
			h3 REGISTER
			if (flash && flash.newUser)
				div.errorFlash= flash.newUser
			form(method='post',action='/user/new' + double)
				label(for='nickname') nickname
				input(class='nickname', name='nickname', maxlength=13)
				br
				label(for='password') password
				input(type='password', name='password')		
				//
					br
					label(for='password2') password again, just in case
					input(type='password', name='password2')
				br
				input(type='submit', value="I'm new!")
				

	style.
		#loginbox {
			margin: 15px;
		}
	

	script.
		$('.nickname').alphanum({
			allow              : "#$%*?+/&!'1234567890",   // Allow extra characters
			disallow           : '',   // Disallow extra characters
			allowSpace         : true, // Allow the space character
			allowNumeric       : true, // Allow digits 0-9
			allowUpper         : true, // Allow upper case characters
			allowLower         : true, // Allow lower case characters
			allowCaseless      : false, // Allow characters that don't have both upper & lower variants - eg Arabic or Chinese
			allowLatin         : true, // a-z A-Z
			allowOtherCharSets : false, // eg é, Á, Arabic, Chinese etc
			disallowLeadingSpace : true,
			disallowTrailingSpace : true,
			maxLength          : '13'    // eg Max Length
		});