/*
	 CSS for normal size SF game
*/

.gameSize {
	width: 		528px;
	height: 	276px;
}

.homeroomText  {
	font-size: 	13px;
	line-height: 12px;
}


#homeroomChat {
	width: 		120px;
	height: 	150px;
}

#homeroomTextEntry {
	width: 		76px;
	height: 	40px;
}

#homeroomCreateGameEntry {
	width: 		83px;
	height: 	12px;
}


.gameroomText {			

}

#gameroomTextEntry {
	width: 		76px;
	height: 	40px;
}

.gameroomChatNormal {
	line-height: 	12px;
	font-size: 		13px;
	font-weight: 	normal;
}

.gameroomChatBig {
	line-height: 	20px;
	font-size: 		26px;
	font-weight: 	550;		
}

.gameroomPlayerChatBubble {
	width: 			76px;
	height: 		60px;
}

.captionText {
	font-size: 		11px;
	line-height: 	12px;
	text-align: 	center;
	
	resize: 		none;
	visibility: 	hidden;
	
	overflow: 		hidden;
	
	border: 		none;	
}

.wordwrap { /* http://stackoverflow.com/a/1638824 */
	white-space: pre-wrap;      /* CSS3 */   
	white-space: -moz-pre-wrap; /* Firefox */    
	white-space: -pre-wrap;     /* Opera <7 */   
	white-space: -o-pre-wrap;   /* Opera 7 */    
	word-wrap:   break-word;      /* IE */
}
