/*
	 CSS for normal size SF game
*/

.gameSize {
	width: 		528px;
	height: 	276px;
	border:		3px solid black;
}

.homeroomText  {
	font-size: 	16px;
	line-height: 12px;
}


#homeroomChat {
	width: 		120px;
	height: 	150px;
}

#homeroomTextEntry {
	width: 		79px;
	height: 	43px;
}

#homeroomCreateGameEntry {
	width: 		83px;
	height: 	12px;
}


.gameroomText {			

}

#gameroomTextEntry {
	width: 		76px;
	height: 	40px;
}

.gameroomChatNormal {
	line-height: 	12px;
	font-size: 		16px;
	font-weight: 	normal;
}

.gameroomChatBig {
	line-height: 	18px;
	font-size: 		32px;
	font-weight: 	550;		
}

.gameroomPlayerChatBubble {
	width: 			76px;
	height: 		60px;
}

.captionText {
	font-size: 		16px;
	line-height: 	12px;
	text-align: 	center;
	
	resize: 		none;
	visibility: 	hidden;
	
	overflow: 		hidden;
	
	border: 		none;	
}

.gameRulesPopup {
	font-size:		16px;
	line-height:	12px;
	width:			120px;
	height:			36px;
	padding: 		3px;
	border-width: 	1px;

	resize: none;
	overflow: hidden;

	white-space: 	pre;
	
	background:		white;
	border-color: 	black;
	border-style: 	solid;
}

.wordwrap { /* http://stackoverflow.com/a/1638824 */
	white-space: pre-wrap;      /* CSS3 */   
	white-space: -moz-pre-wrap; /* Firefox */    
	white-space: -pre-wrap;     /* Opera <7 */   
	white-space: -o-pre-wrap;   /* Opera 7 */    
	word-wrap:   break-word;      /* IE */
}
