body {
  font-family: Helvetica, Arial, sans-serif; background-color: #999999; color: #003366;
}
#sf2kmain {
  display: block;
  position: relative;
  width: 650px;
  margin: 20px auto 0;
  padding: 1 0 0 0;
  background: #99CCFF;
  color: #FFFFFF;
  outline: 1px dotted #003366;
  min-height: 415px;
}
#sf2kmain a {
  color: #333366;
  text-decoration: none;
}
#sf2kmainheader {
  display: block;
  position: relative;
  margin: 20 0 0 20;
  width: 630px;
  height: 68px;
}
#sf2klogo {
  display: block;
  position: relative;
  width: 132px;
  height: 68px;
  float: left;
  margin: 0 0 0 0;
}
#sf2kmenu {
  display: block;
  position: relative;
  float: left;
  width: 396px;
  height: 86px;
  margin: 0 0 0 10;
  padding: 0 0 0 0;
  font-size: 0.6em;
  line-height: 1em;
  font-weight: bold;
}
.sf2kmenuitem {
  display: inline-block;
  position: relative;
  margin: 0 5 0 5;
  float: left;
  text-align: center;
}
#sf2kloginbox {
  display: block;
  position: relative;
  top: -10px;
  left: -10px;
  float: right;
  margin: 0 0 0 0;
  padding: 4px;
  text-align: right;
  font-size: 0.6em;
  color: #003366;
  font-weight: bold;
  line-height: 0.6em;
  float: right;
}
#sf2kloginboxnickname {
	display:block;
	max-width: 80px;
	overflow: hidden;
	font-size: 10pt;
	line-height: 1em;
	padding-bottom: 8px;
}
#sf2kloginformbox {
  display: block;
  position: relative;
  background: url("/imgs/sf2k-login-background.png") no-repeat;
  height: 276px;
  width: 528px;
  margin: 20 0 20 61;
  padding: 0 0 0 0;
  clear: both;
  text-align: center;
  vertical-align: middle;
}
#sf2kforgotpwbox {
  display: none;
  position: relative;
  background: url("/imgs/sf2k-forgotpw-background.png") no-repeat;
  height: 276px;
  width: 528px;
  margin: 20 0 20 61;
  padding: 0 0 0 0;
  clear: both;
  text-align: center;
  vertical-align: middle;
}
#sf2kreg1box {
  display: none;
  position: relative;
  background: url("/imgs/sf2k-reg-background.png") no-repeat;
  height: 276px;
  width: 528px;
  margin: 20 0 20 61;
  padding: 0 0 0 0;
  clear: both;
  text-align: center;
  vertical-align: middle;
}
#sf2kreg2box {
  display: none;
  position: relative;
  background: url("/imgs/sf2k-reg-background.png") no-repeat;
  height: 276px;
  width: 528px;
  margin: 20 0 20 61;
  padding: 0 0 0 0;
  clear: both;
  text-align: center;
  vertical-align: middle;
}
#sf2kgamebox {
  position: relative;
  height: 306px;
  width: 528px;
  margin: 20 0 20 61;
  padding: 0 0 0 0;
  clear: both;
  vertical-align: middle;
  color: black;
}
#contentarea {
  display: block;
  position: relative;
  width: 600px;
  margin: 0 0 0 20;
  padding: 10 0 60 0;
  clear: both;
  vertical-align: middle;
  }
.content {
  text-align: left;
  font-size: 0.85em;
  color: #003366;
  margin: -10 0 0 0;
  padding: 0 0 0 10;
  }
.header {
  display: block;
  position: relative;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  clear: both;
  text-align: center;
  vertical-align: middle;
}
.headermiddle {
  display: inline-block;
  position: relative;
  height: 13;
  padding: 0 0 0 3;
  background: #6699CC;
  text-align: left;
  vertical-align: middle;
  width: 591px;
}
.headerleft {
  display: inline-block;
  position: relative;
  float: left;
  height: 13;
  width: 3;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  text-align: left;
  vertical-align: middle;
  background: url("/imgs/roundcap-left.png") no-repeat;
}
.headerright {
  display: inline-block;
  position: relative;
  float: right;
  height: 13;
  width: 3;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  text-align: right;
  vertical-align: middle;
  background: url("/imgs/roundcap-right.png") no-repeat;
}
#sf2knewfighter {
  display: inline-block;
  position: relative;
  width: 257;
  height: 25;
  clear: both;
  top: 78;
  text-align: center;
  vertical-align: middle;
  font-size: 0.6em;
  color: #003366;
  font-weight: bold;
  line-height: 0.6em;
}
#sf2kunderage {
  display: inline-block;
  position: relative;
  width: 257;
  height: 25;
  clear: both;
  top: 82;
  text-align: center;
  vertical-align: middle;
  font-size: 0.6em;
  color: #ff0000;
  font-weight: bold;
  line-height: 0.6em;
}
#sf2kreturnlogin {
  display: inline-block;
  position: relative;
  width: 257;
  height: 91;
  clear: both;
  top: 100;
  left: 10; 
  text-align: center;
  vertical-align: middle;
  font-size: 60%;
  color: #003366;
  font-weight: bold;
  line-height: 140%;
}
#sf2kloginsubmitbutton {
	cursor: pointer;
}
#sf2kloginerror {
  position: relative;
  width: 257;
  height: 40;
  clear: both;
  top: -43;
  left: 0; 
  text-align: center;
  vertical-align: middle;
  color: #FF0000;
  font-weight: bold;
}
#sf2kforgotpwbody {
  display: block;
  position: relative;
  width: 259;
  height: 139;
  clear: both;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  top: 90;
  vertical-align: middle;
  font-size: 0.6em;
  color: #003366;
  font-weight: bold;
  line-height: 0.6em;
}
#sf2kforgotpwbutton {
  display: inline-block;
  position: relative;
  width: 19;
  height: 19;
  top: 158;
  left: -42;
}
#sf2kforgotpwcancel {
  display: block;
  position: relative;
  font-size: 0.6em;
  color: #FFFFFF;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  top: 76;
  vertical-align: middle;
}
#sf2kforgotpwerror {
  position: relative;
  clear: both;
  top: -60;
  left: 0; 
  text-align: center;
  vertical-align: middle;
  color: #FF0000;
  font-weight: bold;
  line-height: 1em;
  font-size: 1em;
}
#sf2kresetflash {
	display: none;
	position: absolute;
	background: url("../imgs/resetflash-bg.png") no-repeat;
	opacity: 0;
	padding: 18 2 2 2;
	width: 265;
	height: 22;
	left: 130;
	top: 61;
	color: #CC0000;
	font-size: 12px;
}
#sf2kresetpasswordbox {
  display: block;
  position: relative;
  background: url("/imgs/sf2k-resetpw-background.png") no-repeat;
  height: 276px;
  width: 528px;
  margin: 20 0 20 61;
  padding: 0 0 0 0;
  clear: both;
  text-align: center;
  vertical-align: middle;
}
#sf2kresetpassword {
  display: block;
  position: relative;
  height: 100px;
  width: 240px;
  top: 80;
  left: 148;
  clear: both;
  text-align: center;
  vertical-align: middle;
  color: #003366;
  font-size: 0.85em;
  font-weight: bold;
}
#sf2kresetpasswordsubmit {
  display: block;
  position: relative;
  font-size: 0.6em;
  color: #FFFFFF;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  top: 114;
  vertical-align: middle;
}
#sf2kresetpwerror {
  display: block;
  position: relative;
  clear: both;
  top: 21;
  left: 0; 
  text-align: center;
  vertical-align: middle;
  color: #FF0000;
  font-weight: bold;
  line-height: 0.6em;
  font-size: 0.6em;
}
#sf2kreg1body {
  display: block;
  position: relative;
  width: 275;
  height: 139;
  clear: both;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  top: 90;
  right: 0;
  vertical-align: middle;
  font-size: 0.7em;
  color: #003366;
  font-weight: bold;
  line-height: 0.6em;
}
#sf2kreg1submit {
  display: block;
  position: relative;
  font-size: 0.6em;
  color: #FFFFFF;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  top: 76;
  vertical-align: middle;
}
#sf2kreg1error {
  display: block;
  position: relative;
  clear: both;
  top: 5;
  left: 0; 
  text-align: center;
  vertical-align: middle;
  color: #FF0000;
  font-weight: bold;
  line-height: 1em;
  font-size: 1em;
}
#sf2kreg2body {
  display: block;
  position: relative;
  width: 259;
  height: 139;
  clear: both;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  top: 80;
  vertical-align: middle;
  font-size: 0.6em;
  color: #003366;
  font-weight: bold;
  line-height: 0.6em;
}
#sf2kemailinfo {
  display: inline;
  font-size: 1.2em;
  color: #003366;
  font-weight: normal;
  line-height: 1.4em;
  width: 250;
}
#sf2kreg2submit {
  display: block;
  position: relative;
  font-size: 0.6em;
  color: #FFFFFF;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  top: 76;
  vertical-align: middle;
}
#sf2kreg2error {
  display: block;
  position: relative;
  clear: both;
  top: 5;
  left: 0; 
  padding-bottom: 5px;
  text-align: center;
  vertical-align: middle;
  color: #FF0000;
  font-weight: bold;
  line-height: 1em;
  font-size: 1em;
}
#sf2ksizebuttons {
  display: block;
  position: relative;
  width: 60;
  height: 18;
  top: 0;
  left: 471;
}
#sf2kserverpick {
  display: none;
  position: relative;
  width: 528px;
  margin: 20 0 20 23;
  padding: 0 0 0 0;
  clear: both;
  text-align: center;
  vertical-align: middle;
}
#sf2kschool1playbutton {
  display: block;
  height: 52px;
  width: 74px;
  margin: -34 0 0 80;
  position: absolute;
  z-index: 5;
}
#sf2kschool2playbutton {
  display: block;
  height: 52px;
  width: 74px;
  margin: -34 0 0 226;
  position: absolute;
  z-index: 5;
}
#sf2kschool3playbutton {
  display: block;
  height: 52px;
  width: 74px;
  margin: -34 0 0 372;
  position: absolute;
  z-index: 5;
}
#sf2kschool4playbutton {
  display: block;
  height: 52px;
  width: 74px;
  margin: -34 0 0 518;
  position: absolute;
  z-index: 5;
}

.schoolpop {
	text-align: right;
	padding:18px 10px 0px 0px;
}
.schoolpopnum {
	font-weight: bold;
	font-size:larger;
}


.sf2ksubmitbutton {
	background-image: url("/imgs/submit-button.png");
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 60px;
	height: 19px;
	border: 0px;
	background-color: none;
	cursor: pointer;
	outline: 0;
}
.error {
	background-color: #F6CBC9;
}