body {
  background-color: #99CCFF;
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
}

@media only screen and (max-device-width : 1024px) {
	body {
		padding: 0px;
		margin: 0px;
	}
	#notOnTablet {
		display: none;
	}
}

a {
  color: #00B7FF;
}

.errorFlash {
	color: #ff8888;
}